<div
  [ngClass]="
    navMobile
      ? 'w-100 h-full shadow-md bg-gray-700 absolute nav-overlay'
      : 'w-80 h-full shadow-md bg-gray-700 absolute nav-overlay'
  "
>
  <div
    [ngClass]="
      navMobile ? 'fixed top-0 right-10 m-2' : 'fixed top-0 left-80 m-2'
    "
  >
    <button
      (click)="closeNav()"
      class="bg-gray-800 hover:bg-gray-400 text-white font-bold py-4 px-4 rounded-full"
    >
      <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
        />
      </svg>
    </button>
  </div>
  <div
    class="block p-6 max-w-sm border border-gray-200 shadow-md hover:bg-gray-100 bg-gray-800 "
  >
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-white"
    >
      {{ deviceInfo?.name  }}
    </h5>

    <div class="flex">
      <div class="flex-1 text-green-300">
        <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M16.67,4H15V2H9V4H7.33A1.33,1.33 0 0,0 6,5.33V20.67C6,21.4 6.6,22 7.33,22H16.67A1.33,1.33 0 0,0 18,20.67V5.33C18,4.6 17.4,4 16.67,4Z"
          />
        </svg>
      </div>
      <div class="flex-auto w-96 p-2">
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div
            class="bg-green-600 h-2.5 rounded-full"
            style="width: {{ deviceInfo?.batteryLevel }}%"
          ></div>
        </div>
      </div>
    </div>

    <p class="font-normal text-gray-400 mt-2">
      <b>Serial No:</b> {{ deviceInfo?.serialNumber }}
    </p>
    <p class="font-normal text-gray-400 ">
      <b> UUID: </b> {{ deviceInfo?.deviceUuid }}
    </p>
  </div>

  <div
    class="h-5/6 w-100 text-sm font-medium text-gray-100 border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
    style="overflow-y: scroll"
  >
    <div>
      Location:
      <a class="text-blue-200"
        >({{ readings[0].latitude }},{{ readings[0].longitude }})</a
      >
    </div>
    <br />
    Temperature: {{ readings[0].temp }}
    <br />
    Humidity: {{ readings[0].humidity }}
  </div>
</div>
